@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    background-color: rgb(255, 176, 152);
    display: flex;
    font-family: "Cabin", sans-serif;
    flex-direction: column;
    align-items: center;
}

hr {
    border: 2px solid black;
}

#container {
    background-color: rgb(255, 198, 181);
    padding: 20px;
    width: 450px;
    max-width: 100%;
}

button {
    font-family: "Cabin", sans-serif;
    font-size: 20px;
    background-color: rgb(255, 120, 79);
    border: 2px solid rgb(250, 60, 2);
    border-radius: 5px;
    padding: 8px 24px;
}

button:hover {
    background-color: rgb(248, 133, 98);
    cursor: pointer;
}

.numInicial {
    display: inline;
    
}

.numInicial input[type=number] {
    font-size: 40px;
    font-family: "Cabin";
    font-weight: 700;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    border-bottom: 4px solid rgba(0, 0, 0, 0.1);
    padding: 0 0 0 20px;
    margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button{
    visibility:inherit;
}

#multiplicador {
    font-size: 40px;
    font-weight: 600;
    text-align:right;
    display: inline;
}

#resposta {
    width: 100%;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    border-bottom: 4px solid rgba(0, 0, 0, 0.1);
    font-size: 20px;
    padding: 10px 0;
    margin: 8px 0;
    text-align: center;
    
}

#resultado {
    display: block;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    margin: 10px 0;
}

select {
    display: inline;
    padding: 10px 0px 10px 10px;
    font-family: "Cabin";
    border:0;
    background-color: rgba(255, 255, 255, 0);
    font-size: 40px;
    font-weight: 500;
}
